@model Category

<div class="card my-2" style="border:none;">
    <img class="card-img-top" src="~/img/@Model.CategoryImageUrl" alt="@Model.Name-egitim eğitim"  style="height:300px;">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
    </div>
</div>   