<div class="pt-5">
        <hr>
        <h1 class="text-center py-5">Neden bizi seçmelisiniz?</h1>
        <hr>
    <div class="container pt-5">
        <div class="row py-3">
            <div class="col-5">
                <img src="~/img/yurtdisi-egitim-danismanligi.jpg" alt="yurtdisi-egitim-danismanligi eğitim yurtdışı"  style="width:100%;">
            </div>
            <div class="col-7">
                Güvenilir <b>Yurtdışı Eğitim Danışmanlığı</b> ile Kariyeriniz İçin Doğru Adımları Atın!
            </div>
        </div>
        <div class="row py-3">
            <div class="col-5">
                <img src="~/img/yurtdisinda-egitim.jpg" alt="yurtdisi-egitim yurtdışı eğitim" style="width:100%;">
            </div>
            <div class="col-7">
               Çeşitlendirilmiş <b>Yurtdışı Programları</b> ile Sizin İçin Doğru Yurtdışı Eğitim Programı'nı seçebilirsiniz!!
            </div>
        </div>
        <div class="row py-3">
            <div class="col-5">
                <img src="~/img/yurtdisi.jpg" alt="yurtdisi-egitim yurtdışı eğitim" style="width:100%;">
            </div>
            <div class="col-7">
                Endişelendirmeyen Ücretlendirmeler!<b>Yurtdışı Eğitim Ücretleri</b> hakkında detaylı bilgilendirme için bize ulaşın!
            </div>
        </div>
    </div>
    <div class="text-center pt-5">
        <hr>
        <h2 class="py-5">Daha Detaylı Bilgi Edinmek İçin Bize Ulaşın!</h2>
        <hr>
    </div>
</div>