<div class="text-center pt-3">
    <hr>
    <h1 class="py-5">Neden Yurtdışında Eğitim Almalısınız?</h1>
    <hr>
</div>
<div class="container pt-5">
    <div class="row my-3">
        <div class="col-5">
            <img src="~/img/yurtdisi.jpg" alt="yurtdisi-egitim yurtdışı eğitim" style="width:100%;">
        </div>
        <div class="col-7">
                Yurtdışı Eğitim getirilerinden bir tanesi, seçeneğinizin artacak olması. 
                Farklı <a href="/ulkeler">ülkelerdeki</a> eğitimcilerden göreceğiniz eğitimler ufkunuzu genişletecek.
                <br> 
        </div>
    </div>
    <div class="row my-3">
        <div class="col-5">
            <img src="~/img/yurtdisi-egitim.jpg" alt="yurtdisi-egitim  eğitim yurtdışı" style="width:100%;">
        </div>
        <div class="col-7">
            Alanında kendini kanıtlamış <a href="/universiteler">üniversitelerden</a> alacağınız eğitim ile
            Mesleki Kariyer Planınızı Geniş Çerçeveden İzleme ve Gelişme İmkanı kazanacaksınız.
        </div>
    </div>
    <div class="row my-3">
        <div class="col-5">
            <img src="~/img/yurtdisi-egitim-programlari.jpg" alt="yurtdisi-egitim-danismanligi yurtdışı eğitim danışmanlığı" style="width:100%;">
        </div>
        <div class="col-7">
                Alacağınız <b>Yurtdışı Eğitim</b> Sayesinde Durmaksınız Büyüyen Dünya ile Aynı Adımları Atmaya Başlayacaksınız.
        </div>
    </div>
</div>