 <header class="pt-5">
        <div class="jumbotron jumbotron-fluid pt-5">
            <div class="container">
                <h1 class="display-4">X Study</h1>
                <p class="lead"><b>Yurtdışı Eğitim Danışmanlığı</b> yapan X Study Ülkemizin Öğrencilerini
                Farklı Ülkelerin Öğrencileriyle Buluşturup Kaliteli Eğitim Almalarını Hedefliyor. <b>Yurtdışı Eğitim</b>
                İmkanlarını Ülkemizin Öğrencileriyle Buluşturup Aldıkları Eğitimden Memnun Olmaları En Büyük Gayemizdir.
                Yurtdışı Eğitim Programları hakkında daha fazla bilgi için, <a href="/programlar">tıklayın.</a></p>
            </div>
        </div>
    </header>